.item-list {
  margin: 0;
  padding: 0;
  border-radius: 0.25rem;
  list-style: none;
}

.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444444;
}
