.not-found-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c78f22;
}

.not-found-message img {
  margin: 1rem;
}

.not-found-message .title {
  font-size: 1.7rem;
}
